- p = participant
- all_buttons = show_all_buttons
%tr.participant-row{data: {person_id: p.person.id, activity_id: @activity.id, subgroup_id: p.subgroup_id}}
  %td
    = p.member.display_name
    - if p.is_organizer
      %i.far.fa-star

  %td
    - if p.person.id == current_person.id || all_buttons
      = render partial: "activities/presence_buttons", locals: {activity: @activity, person: p.person, state: p.attending}

  %tr.participant-row{data: {person_id: p.person.id, activity_id: @activity.id, subgroup_id: p.subgroup_id}}
    %td{colspan: "2"}
      = editable p, :notes, url: presence_group_activity_path(@activity.group, @activity, person_id: p.person.id), title: t('activities.participant.notes'), value: p.notes, emptytext: "--"
