.btn-group.btn-group-justified{role: "group"}
  .btn-group
    %button.btn.btn-success.btn-present.btn-presence{data: {wide: 1, person_id: person.id, activity_id: activity.id, group_id: activity.group.id, new_state: "present"}}
      - if !state
        %i.fas.fa-check
      - else
        %i.fas.fa-check-circle
      = t 'activities.state.present'

  .btn-group
    %button.btn.btn-danger.btn-absent.btn-presence{data: {wide: 1, person_id: person.id, activity_id: activity.id, group_id: activity.group.id, new_state: "absent"}}
      - if state == false
        %i.fas.fa-times-circle
      - else
        %i.fas.fa-times
      = t 'activities.state.absent'
