<h1>Activities</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to t(:show), group_activity_path(@group, activity) %></td>
        <td><%= link_to t(:edit), edit_group_activity_path(@group, activity) %></td>
        <td><%= link_to t(:destroy), group_activity_path(@group, activity), method: :delete, data: { confirm: t(:areyousure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('activities.new'), new_group_activity_path(@group) %>
